---
name: Linting (YAML)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "**.yml"

jobs:
  yamllint:
    name: Run yamllint against YAML files
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.1
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3.1.1
        with:
          config_data: |
            extends: default
            rules:
              line-length:
                max: 300
                level: warning
